.App {
  box-sizing: border-box;
  margin : 0;
  text-align: center;
}

.auth {
  height:746.40px;
  background-image: url("./pizza.jpg");
  background-size: cover;
  background-position: center;
}

.title{
  color : red;
  background-image: url("./pizza.jpg");
  height:110px;
  justify-content: center;
  align-items: center;
  font-size:70px;
  /* border-bottom:0.5rem outset rgba(237, 149, 62, 0.745); */
  font-family: 'Brush Script MT', cursive;
}

.bgc{
  display : flex;
  background-image: url("./pizza.jpg");
  height:200px;
  background-size: cover;
  background-position: center;
}

.nav{
  display :flex;
  justify-content: space-between;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow:0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

a:hover{
  color: brown;
}

.img{
  background-image: url("./user.png");
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
}

.user{
  display: flex;
  align-items: center;
  gap:5px;
}

.home{
  background-color: lightgrey;
  height:100%;
}